@import 'abstracts/_variables';
@import 'base/_reset';
@import 'layout/_nav';
@import 'layout/_header';
@import 'layout/_content';
@import 'layout/_cookie';

body {
  width: 100vw;
  font-size: $font-regular;
  font-family: $primary-font;
}
