@import '../abstracts/_variables';
@import '../abstracts/_mixins';

main {
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.6), hsla(0, 0%, 0%, 0.6)),
    url('../img/images/space-480.jpg');
  padding: 2em 8%;
  color: $font-white;
  @include desktop {
    height: 94vh;
    gap: 4em;
    display: flex;
    background-image: linear-gradient(
        hsla(0, 0%, 0%, 0.6),
        hsla(0, 0%, 0%, 0.6)
      ),
      url('../img/images/space-1920.jpg');
    padding: 1em 8% 0 8%;
  }
  p {
    font-size: $font-regular * 0.6;
    line-height: 1.6em;
    margin: 0.4em 0;
    @include desktop {
      font-size: $font-regular;
    }
  }

  .main-left {
    @include desktop {
      width: 50%;
      padding-top: 2em;
    }
    .main-heading {
      font-size: $font-regular * 2;
      @include desktop {
        font-size: $font-regular * 4;
      }
      .space-ventures {
        margin: 0;

        .space {
          z-index: 2;
          position: relative;
          color: hsl(0, 0%, 100%);
        }
        .ventures {
          color: $font-grey;
          position: relative;
          opacity: 0.8;
          top: -0.85em;
          left: 0.7em;
          z-index: 1;
          font-size: $font-regular * 4;
          font-family: $secondary-font;
          @include desktop {
            font-size: $font-regular * 7;
            top: -0.8em;
            left: 0.3em;
          }
        }
      }
    }
    .main-left-content {
      margin-top: -3em;
      h3 {
        margin-bottom: 0.5em;
        @include desktop {
          font-size: $font-regular * 1.6;
        }
      }
      blockquote {
        margin: 0;
        padding: 1.6em;
        font-size: $font-regular * 0.9;
        font-style: italic;
        &::before {
          content: '\201C';
          color: $font-grey;
        }
        &::after {
          content: '\201D';
          color: $font-grey;
        }
        @include desktop {
          margin-top: 1em;
          font-size: $font-regular * 1.4;
        }
      }
    }
  }
  .main-right {
    @include desktop {
      width: 50%;
      padding-top: 4em;
    }
    .main-right-quote {
      #hidden-quote {
        font-style: italic;
        display: none;
        @include desktop {
          display: block;
          margin-left: 0;
          padding-right: 3em;
          font-size: $font-regular * 2.2;
          background: linear-gradient(
            170deg,
            hsla(314, 100%, 41%, 0.2) 20%,
            hsla(0, 0%, 100%, 0.2) 45%,
            hsla(314, 100%, 41%, 0.2) 100%
          );
          background-clip: text;
          -webkit-background-clip: text;
          -moz-background-clip: text;
          -o-background-clip: text;
          -webkit-text-fill-color: transparent;
          -moz-text-fill-color: transparent;
          -o-text-fill-color: transparent;
        }
      }
    }
    .main-right-content {
      position: relative;
      z-index: 2;
      img {
        display: none;
        @include desktop {
          display: block;
          position: relative;
          z-index: 4;
          float: right;
          height: 150px;
          transform: rotate(5deg);
        }
      }
      a {
        color: $font-pink;
        font-size: $font-regular * 0.6;
        text-decoration: none;
        position: relative;
        &::after {
          content: url('../img/icons/arrow-pink.svg');
          position: absolute;
          left: 14em;
          top: 0.1em;
          transition: left 0.1s ease-in-out;
        }
        &:hover {
          &::after {
            left: 16em;
          }
        }
      }
    }
  }
}
