@import '../abstracts/mixins';

.hero {
  height: 100vh;
  width: 100%;
  @include background-image('../img/images/adam-miller-480.jpg');
  @include desktop {
    @include background-image('../img/images/adam-miller-1920.jpg');
  }
  .hamburger-section {
    height: 5%;
    width: 100%;
    padding: 0.5em 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    position: fixed;
    background-color: rgba(238, 241, 242, 0.6);
    @include desktop {
      height: 8%;
    }
    .hamburger-button {
      height: 100%;
      width: 10%;
      margin-right: 1em;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      cursor: pointer;
      @include desktop {
        height: 80%;
      }
      span {
        height: 0.3em;
        width: 2.2em;
        background-color: black;
        border-radius: 1em;
        @include desktop {
          height: 0.5em;
          width: 3.5em;
        }
      }
      span:nth-child(2) {
        margin-right: 0.6em;
        transition: margin-right 0.1s ease-in-out;
        @include desktop {
          margin-right: 1.4em;
        }
      }
      &:hover span:nth-child(2) {
        margin-right: 0em;
      }
    }
  }
  .hero-heading {
    height: 24%;
    width: 38%;
    margin-top: 4em;
    margin-left: 2.4em;
    text-align: center;
    border: 3px solid black;
    @include desktop {
      height: 47%;
      width: 36%;
      margin-top: 6em;
      margin-left: 4em;
      border: 4px solid black;
      background-color: rgba(255, 255, 255, 0.7);
    }
    header {
      height: 83%;
      h1 {
        margin: 0;
        @include desktop {
          margin-top: 0.6em;
          font-size: 6.5rem;
          line-height: 1.3em;
        }
        span {
          display: block;
          @include desktop {
            display: inline-block;
          }
        }
      }
    }
    a {
      margin-top: 1em;
      margin-left: 1em;
      display: flex;
      align-items: center;
      position: relative;
      text-decoration: none;
      color: inherit;
      font-size: 0.6rem;
      @include desktop {
        margin-top: -2em;
        margin-left: 17em;
        font-size: 1rem;
      }
      &::after {
        content: url('../img/icons/arrow-black.svg');
        position: absolute;
        left: 7.5em;
        top: 0.2em;
        transition: left 0.1s ease-in-out;
      }
      &:hover {
        &::after {
          left: 9em;
        }
      }
    }
  }
  .white-arrow {
    transform: rotate(90deg);
    position: absolute;
    bottom: 2em;
    right: 47%;
  }
}
