@mixin flex-center($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@mixin background-image($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center center;
  // background-attachment: fixed;
  background-size: cover;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  overflow: hidden;
}
