// Fonts
$primary-font: 'Rubik', sans-serif;
$secondary-font: 'Times New Roman', Times, serif;

// Font colors
$font-white: hsl(0, 13%, 91%);
$font-grey: hsl(240, 1%, 65%);
$font-pink: hsl(314, 100%, 41%);
$font-blue: hsl(235, 80%, 20%);

// Font sizes
$font-regular: 1rem;

// Breakpoints
$breakpoint-desktop: '1200px';
