// Font family
$primary-font: 'Rubik', sans-serif;
$secondary-font: 'Times New Roman', Times, serif;

// Font color
$font-white: hsl(0, 33%, 97%);
$font-pink: hsl(314, 100%, 41%);
$font-grey: hsl(240, 1%, 65%);

// Font size
$font-light: 0.5rem;
